body{
    padding:0px;
    margin: .5rem;
}

header{
    position:relative;
}

.main-header{
    display:flex;
    justify-content: space-between;
    background-color:rgb(9, 111, 9);
    align-items: center;
    color: #cfffcd;
    height: 6rem;
}

header .logo {
    display:inline-block;
    width: 7rem; 
    object-fit:contain;
    padding: 0px;
}

.nav-bar{
    display:flex;
    gap:1rem;
    margin-right:1rem;
}

.main-header nav ul{
    list-style: none;
    gap:1rem
}

.ul-Desktop-menu{
    display:none;
    align-items: center;
    padding: 0px;
   
}

.ul-mobile-menu{
    background-color: azure;
    display:none;
    flex-direction: column;
    position:absolute;
    top:50px;
    right:60px;
    list-style: none;
    gap: 1rem;
    text-align: center;
    z-index: 2;
    padding:5px
} 

.ul-Desktop-menu a  {
    text-decoration: none;
    font-size: larger;
    font-weight:600;
    color: white;
}

.main-header nav  a{
    color: white;
}

.ul-mobile-menu li a{
    text-decoration: none;
    color: darkgreen;
}


.cross{
    display: none;
}

body section p {
    padding: 0;
    margin:0;
}

.hamburger{
    display: inline-block;
}

.svg,svg {
    height:1.8rem;
    width:1.8rem;
}

.carousel-item img{
    height:250px;
    width:100%;
    object-fit: cover;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: rgba(0,0,0, .6);
}

.contact{
    padding: 1rem;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#54d72b;
    font-size: larger;
    font-weight: bold;
    font-size: small;
    font-style: italic;
}

.vegetable,.fruit, .spices{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
     padding-top:1rem;
    /* padding-bottom:1rem;  */
    background-color: rgb(247, 247, 242);
}

.each-vegetable,.each-fruit, .each-spice {
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.each-vegetable img,.each-fruit img,.each-spice img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

h3{
    /* text-decoration:underline solid; */
    margin-top: .5rem;
    margin-bottom: 0px;
    padding: 0px;
    font-size: medium;
}

.add-cart{
    margin-top: .5rem;
    font-size: small;
    background-color: #5f7b57;
    color:white;
    border-radius: 8px;
}


.close-btn{
    background-color: rgba(115, 190, 115, 0.635);
    position:absolute;
    top:0px;
    right:0px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(9, 111, 9);
    color: rgb(207, 255, 205);
    padding: 1rem;
    margin-top: 1rem;
   }
   
   footer .follow-us{
       display:none;
   }
   
   footer section{
       display: flex;
       align-items: center;
       justify-content: right;
      }
   
   footer ul {
       display: flex;
       align-items: center; 
       list-style: none;
       
   }
   
   .footer-li-desktop{
       display:none;
   }
   
   footer ul li{
      padding-right: 1rem;
   }
   footer .svg{
       height: 1.5rem;
       width:1.5rem;
   }
   footer a{
    color: white;
    }


    .contact-us-details{
        display: none;
        position:absolute;
        z-index: 2;
        top:20%;
        left:10%;
        max-width: 70vw;
        background-color:rgb(208, 226, 208);
        padding:1.5rem;
        font-size:small;
    }
    
    .cart-details{
        display: none;
        position:absolute;
        z-index: 2;
        top:18%;
        right:5%;
        background-color:rgb(208, 226, 208);
        padding:1rem;
    }
    
    .cart-details a{
        color: black;
    }

    .closecart-btn{
        background-color: rgba(115, 190, 115, 0.635);
        position:absolute;
        top:0px;
        right:0px;
    }
    
    .ul-cart{
        list-style: none;
        font-size: small;
        margin: 0px;
        margin-right: 20px;
        padding:0px
    }

    .itemheading{
        font-weight: bold;
    }


    .total-amount {
        margin:1rem;
        font-weight:bold;
    }
    table,td,tr,th{
        border: 1px solid darkgreen;
    }

@media (min-width: 768px) {
    .main-header{
    height:8rem;
    }

    header .logo {
        height: 100%;
        object-fit: cover;
        width:fit-content;
    }

    .svg,svg {
        height:2.5rem;
        width:2.5rem;
    }

    .hamburger svg{
    display: none;
    }

    .cross{
    display: none;
    }

    .ul-Desktop-menu{
        display:flex
    }

    .carousel-item img{
        height:450px;
        width:100%;
        object-fit: cover;
    }

    .contact{
        font-size: larger;
        color: rgb(29, 106, 29);
    }

    .vegetable, .fruit,.spices{
        grid-template-columns: repeat(4,1fr);
    }

    .each-vegetable img,.each-fruit img,.each-spice img {
        object-fit:cover;
        width: 100%;
        height: 350px;
    }

    h3,.add-cart{
        font-size :medium;
    } 

    .contact{
        font-size: larger;
     }

     .footer-li-desktop{
        display: inline;
    }
    .footer-li-mobile{
        display: none;
    }

    .contact-us-details p{
        font-size: medium;
    }



}


